---
const title = "Mit umsetzbaren Python-Lösungen unterstütze ich datengetriebene Organisationen.";
const subtitle = "Von interaktiven Dashboards bis zu automatisierten Reports. Von ML Prototypen bis zu einfachen Chatbots. Weil ich Business und Technik verbinde – und Lösungen baue, die direkt einen Unterschied machen.";
---

<section class="bg-light text-dark py-28 px-6">
  <div class="max-w-4xl mx-auto text-center">
    <h1 class="text-4xl sm:text-5xl font-display font-semibold mb-6 leading-tight">
      {title}
    </h1>
    <p class="text-xl text-gray-700 max-w-2xl mx-auto">
      {subtitle}
    </p>
  </div>
</section>
